.savedNews__header {
  font-family: "Roboto", sans-serif;
  max-width: 1440px;
  position: relative;
  margin: 0 auto;
  background: #ffffff;
}

.savedNews__text-container {
  width: 85%;
  margin: 0% auto;
}

.savedNews__keywords span {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
}
